.firstDiv {
    width: 800px;
    height: 200px;
    padding: 1px 1px;
}
ul {
    list-style: none;
}
li {
    height: 34px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.fitem {
    float: left;
}
input {
    width: 180px;
    height: 28px;
    margin: 1px 1px;
    text-indent: 5px;
}
label {
    float:left;
    width: 100px;
    display: inline-block;
    text-align: right;
    padding-right: 10px;
    margin: 5px 1px;
}
.msg {
    float: left;
    width: 150px;
    height: 28px;
    margin: 5px 5px;
}
button {
    width: 80px;
    height: 40px;
    margin-left: 120px;
    font-size: 20px;
}
.tip {
    color: red;
}