@charset "utf-8";

* {
	margin:0;
	padding:0;
	list-style-type:none;
    font-size: 18px;
}
body {
	font:12px/180% Arial, Helvetica, sans-serif, "新宋体";
}
/* service-menu */
.service-menu .menu-title, .service-menu .menu-p, .service-menu .menu-p .menu-i {
	background:url("../image/menubg.png") no-repeat;
}
.menu-p {
    margin-left: 5px;
}
.service-menu {
	border:solid 1px #d1d1d1;
	width:232px;
	margin:auto auto 0 auto;
    position: relative;
}
.service-menu .menu-title {
	height:21px;
	overflow:hidden;
	/*padding:6px 8px;*/
	background-position:0 0;
	background-repeat:repeat-x;
	color:#444;
	font-size:15px;
	font-weight:bold;
}
.service-menu .menu-p {
	display:block;
	height:21px;
	overflow:hidden;
	padding:6px 0 6px 19px;
	border-top:solid 1px #e6e6e6;
	background-position:0 -50px;
	background-repeat:repeat-x;
	color:#444;
	font-size:14px;
	font-weight:normal;
	cursor:pointer;
}
.service-menu .menu-p .menu-i {
	float:left;
	display:inline;
	width:11px;
	height:11px;
	overflow:hidden;
	background-position:0 -103px;
	margin:5px 6px 0 0;
}
.service-menu .menu-p a:link, .service-menu .menu-p a:visited {
	color:#444;
	text-decoration:none;
	font-size:20px;
}
.service-menu .menu-p a:hover {
	color:#ff7300;
	text-decoration:none;
}
.service-menu .menu-p-current .menu-i {
	background-position:-20px -103px;
}
.service-menu .menu-p-current a:link, .service-menu .menu-p-current a:visited {
	color:#369;
	font-weight:bold;
}
.service-menu .menu-p-current a:hover {
	color:#ff7300;
}
.service-menu .menu-c {
	border-top:solid 1px #e6e6e6;
	display:none;
    text-indent: 3em;
	/*padding:4px 0 4px 54px;*/
    padding-top: 4px;
    padding-bottom: 4px;
}
.service-menu .menu-c-current {
	display:block;
}
.service-menu .menu-c ul {
	display:block;
}
.service-menu .menu-c li {
	padding:4px 0;
	height:18px;
	overflow:hidden;
}
.service-menu .menu-c a:link, .service-menu .menu-c a:visited {
	color:#444;
	text-decoration:none;
}
.service-menu .menu-c a:hover {
	color:#ff7300;
	text-decoration:none;
}
.service-menu .menu-c .current:link, .service-menu .menu-c .current:visited {
	color:#369;
	font-weight:bold;
}
.service-menu .menu-c .current:hover {
	color:#ff7300;
}
.menu-c ul li a {
    border:0;
    display: block;
}
.menu-c ul li {
    position: relative;
    width: 100%;
}
.menu-c ul li:hover {
    background: #99FFFF;
}
.menu-c ul li:link, .menu-c ul li:visited {
    background: #99FFFF;
}